<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.category %></h4>
<p><i class="fas fa-map-marker-alt"></i> <%= @restaurant.address %> - <i class="fas fa-phone-square"></i> <%= @restaurant.phone_number %></p>

<% @restaurant.reviews.each do |review| %>
  <ul>
    <li>
      <h4><%= review.rating %></h4> 
      <p><%= review.content %></p>
    </li>
  </ul>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit 'Submit Review', class: "btn btn-info"  %>
<% end %>

<p><%= link_to '<i class="fas fa-backward"></i> Back'.html_safe, restaurants_path, class: "btn btn-secondary"%></p>

